@charset "UTF-8";

/* navbar css */
@media ( max-width :1199px) {
	#layout-navbar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: calc(100%);
		border-radius: 5px;
		box-shadow: 3px 3px 10px 5px #f0f0f0
	}
}

@media ( min-width :1200px) {
	#layout-navbar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 260px;
		right: 0;
		width: calc(100% - 260px);
		border-radius: 5px;
		box-shadow: 3px 3px 10px 5px #f0f0f0
	}
}

@media ( min-width :1440px) {
	#layout-navbar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 260px;
		right: 0;
		min-width: calc(100% - 260px);
		border-radius: 5px;
		box-shadow: 3px 3px 10px 5px #f0f0f0
	}
}

.content-wrapper {
	position: relative;
	margin-top: 80px;
}